.card {
    width: 300px;
    background-color: rgb(217, 217, 217);
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.25s;
    border: 2px solid purple;
    margin-bottom: 2%;
}

.card:hover {
    transform: scale(1.1);
}

.avatar {
    width: 125px;
    border-radius: 50%;
    border: 2px solid purple;
}